@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");

/* Body & Text Style */

* {
   box-sizing: border-box;
}

body {
   font-family: "Akaya Kanadaka", cursive;
   margin: 0;
   padding: 0;
}

h1,
h2 {
   color: #ffffff;
}

h3 {
   color: #ff75a0;
}

footer {
   padding: 20px;
   color: white;
   background-color: #ff75a0;
   text-align: center;
   font-weight: bold;
}

a:active {
   color: white;
}

header {
   display: inline;
}

.jumbotron {
   font-size: 20px;
   padding: 60px;
   background-color: #ff75a0;
   text-align: center;
   color: white;
}

/* Profile Style */

.profile header {
   text-align: center;
}

.profile {
   background-color: #ff75a0;
}

.profile img {
   height: 200px;
   border-radius: 50%;
}

.profile h1 {
   font-size: 40px;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}

#tableProfile {
   color: white;
}

table th {
   margin-bottom: 5px;
}

/* Content Style */

.row {
   display: flex;
}

.foto-katalog {
   flex-grow: 1;
   width: 300px;
   height: 300px;
   margin-right: 32px;
}


main {
   padding: 20px;
   overflow: auto;
}

#content {
   float: left;
   width: 75%;
}

aside {
   float: left;
   width: 25%;
   padding-right: 20px;
   color: white;
}

.owner {
   color: white;
}

.titleSection {
   padding-top: 1px;
   padding-left: 2px;
   background-color: #ff75a0;
   opacity: 0.90;
   height: 70px;
}

#tableContent {
   color: black;
}

@media screen and (max-width: 1000px) {

   #content,
   aside {
      width: 100%;
      padding: 0;
   }
}